
.navbar {
  background-color: cyan;
  padding: 20px;
}

#budApp {
  text-decoration: none;
}

#tranNewName {
  text-decoration: none;
}

#hr {
  text-decoration: none;
}

.detailBtns {
  background-color: cyan;
  padding: 20px;
}

.tranNewBtns {
  background-color: cyan;
  padding: 20px;
}

.tranEditBtns {
  background-color: cyan;
  padding: 20px;
}



